CREATE DATABASE IF NOT EXISTS `VirtualFishing` CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci;
USE `VirtualFishing`;

DROP TABLE IF EXISTS `fishlists`;
CREATE TABLE `fishlists` (
  `fish_id` int NOT NULL AUTO_INCREMENT,
  `fish_name` varchar(100) NOT NULL,
  `fish_creator` varchar(100) NOT NULL,
  PRIMARY KEY (`fish_id`),
  UNIQUE KEY `fish_name` (`fish_name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

LOCK TABLES `fishlists` WRITE;
UNLOCK TABLES;

DROP TABLE IF EXISTS `played_fishes`;
CREATE TABLE `played_fishes` (
  `play_fish_id` int NOT NULL AUTO_INCREMENT,
  `play_id` int NOT NULL,
  `fish_id` int NOT NULL,
  `quantity` int DEFAULT '1',
  PRIMARY KEY (`play_fish_id`),
  UNIQUE KEY `play_id` (`play_id`,`fish_id`),
  KEY `fish_id` (`fish_id`),
  CONSTRAINT `played_fishes_ibfk_1` FOREIGN KEY (`play_id`) REFERENCES `plays` (`play_id`),
  CONSTRAINT `played_fishes_ibfk_2` FOREIGN KEY (`fish_id`) REFERENCES `fishlists` (`fish_id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

LOCK TABLES `played_fishes` WRITE;
UNLOCK TABLES;

DROP TABLE IF EXISTS `plays`;
CREATE TABLE `plays` (
  `play_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `play_number` int NOT NULL,
  `score` int NOT NULL,
  `played_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`play_id`),
  UNIQUE KEY `user_id` (`user_id`,`play_number`),
  CONSTRAINT `plays_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

LOCK TABLES `plays` WRITE;
UNLOCK TABLES;

DROP TABLE IF EXISTS `users`;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `loaded` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

LOCK TABLES `users` WRITE;
UNLOCK TABLES;